.main {
  margin: auto;
  width: 50%;
  border: 1px solid lavender;
  border-radius: 20px;
  background: aliceblue;
  padding: 20px;
  margin-top: 10%;
  min-width: 500px;
}
.code {
    width: 500px;
    border: 1px solid grey;
    background: #EEE;
    display: block;
    padding: 5px;
    font-size: 12pt;
    margin: auto;
    margin-top: 1rem;
    text-align: left;
    font-family: monospace;
    white-space: pre-wrap;
  }

  .createButton {
    margin-top: 10px;
    padding: 7px 15px;
    border-radius: 12px;
    font-size: larger;
  }
.hello {
  background-color: lavender;
  padding: 20px;
  border-radius: 20px;
}
.warning {
  background-color: lightsalmon;
  padding: 20px;
  border-radius: 20px;

}